<aside class="left-panel">
  <div style="display: flex; flex-direction: row; align-items: center; gap: 5rem">
  <h2 class="panel-title">Tickets</h2>
  <p-button
    (onClick)="showDialog()"
    label="Add"
    icon="pi pi-plus"
    [style]="{ 'background-color': '#6d31ed' }"
  />
  </div>
  <hr class="divider" />
  <p-dialog header="Create Support Ticket" [modal]="true" [(visible)]="visible" [style]="{ width: '30rem' }">
    <form [formGroup]="createTicketForm" (ngSubmit)="onSubmit()">
      <div>
        <label for="description">Ticket Description:</label>
        <input id="description" formControlName="description" type="text">
      </div>

      <div>
        <label for="defect">Defect:</label>
        <select id="defect" formControlName="defectId">
          <option *ngFor="let defect of defects" [value]="defect.id">
            {{ defect.description }}
          </option>
        </select>
      </div>

      <div>
        <label for="equipment">Equipment:</label>
        <select id="equipment" formControlName="equipmentId">
          <option *ngFor="let equipment of equipments" [value]="equipment.id">
            {{ equipment.name }}
          </option>
        </select>
      </div>

      <div class="flex justify-content-end gap-2">
        <p-button label="Cancel" severity="secondary" (onClick)="visible = false" />
        <p-button label="Submit" type="submit" [disabled]="createTicketForm.invalid" />
      </div>
    </form>
  </p-dialog>
  <nav class="view-menu">
    <a routerLink="tickets/open" routerLinkActive="active" class="view-item">
      <i class="pi pi-ticket"></i>
      Open tickets
    </a>
    <a routerLink="tickets/assigned" routerLinkActive="active" class="view-item">
      <i class="pi pi-bell"></i>
      Assigned tickets
    </a>
    <a routerLink="tickets/in-progress" routerLinkActive="active" class="view-item">
      <i class="pi pi-sync"></i>
      In-progress tickets
    </a>
    <a routerLink="tickets/resolved" routerLinkActive="active" class="view-item">
      <i class="pi pi-check-square"></i>
      Resolved tickets
    </a>
    <a routerLink="tickets/closed" routerLinkActive="active" class="view-item">
      <i class="pi pi-lock"></i>
      Closed tickets
    </a>
  </nav>
</aside>
