.equipment-list-container {
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 20px;
  background-color: #f4f4f9;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
}


.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.header h1 {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 1.5rem;
  font-weight: 1000;
  color: #171a1f;
}

.p-table {
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.p-table thead {
  background-color: #6D31ED;
  color: #fff;
}

.p-table thead th {
  padding: 12px 15px;
  text-align: left;
}

.p-table tbody tr {
  background-color: #fff;
  transition: background-color 0.3s ease;
}

.p-table tbody tr:hover {
  background-color: #D3C1FA;
}

.p-table tbody td {
  padding: 12px 15px;
  border-bottom: 1px solid #ddd;
}

.p-table tbody td:last-child {
  text-align: right;
}

.p-input-icon-left i.pi-search {
  color: #6D31ED;
}

.p-input-icon-left input {
  border: 2px solid #6D31ED;
  border-radius: 5px;
  padding: 8px 12px;
  transition: border-color 0.3s ease;
}

.p-input-icon-left input:focus {
  border-color: #4B22B2;
  outline: none;
}

.p-button-success,
.p-button-danger {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.p-button-success:hover {
  background-color: #4B22B2;
}

.p-button-danger:hover {
  background-color: #B22222;
}

.p-button-rounded {
  border-radius: 50%;
}

.p-toast,
.p-confirmDialog {
  font-family: Arial, sans-serif;
}

/* Style for the dialog */
.p-dialog {
  border-radius: 10px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
}

/* Header styling */
.p-dialog .p-dialog-header {
  background-color: #6D31ED;
  color: white;
  font-weight: bold;
  font-size: 1.5rem;
  text-align: center;
  padding: 10px;
  border-radius: 10px 10px 0 0;
}

/* Form field labels */
form label {
  font-weight: bold;
  color: #6D31ED;
  margin-bottom: 5px;
  display: block;
}

/* Input fields */
form input[type="text"],
form select {
  width: 100%;
  padding: 10px;
  border: 1px solid #6D31ED;
  border-radius: 5px;
  margin-bottom: 15px;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

/* Input fields focus state */
form input[type="text"]:focus,
form select:focus {
  border-color: #4A1FAD;
  box-shadow: 0px 0px 5px rgba(109, 49, 237, 0.5);
  outline: none;
}

/* Button cancel styling */
.p-button-secondary {
  background-color: #ccc;
  border-color: #bbb;
  color: black;
}

.p-button-secondary:hover {
  background-color: #aaa;
  border-color: #999;
  color: black;
}

/* Container for form actions */
.flex.justify-content-end.gap-2 {
  margin-top: 20px;
}
