<aside class="sidebar">
  <img src="https://cdn.builder.io/api/v1/image/assets/TEMP/d85a8d09c63eaf3b8a1304a619148985b553f462869fbd0fb88f2a57cda6be23?placeholderIfAbsent=true&apiKey=636115f9631f48bf97a296bc25ce3201" alt="Logo" class="logo" />
  <nav class="sidebar-menu">
    <a routerLink="home" routerLinkActive="active" class="menu-item">
      <img src="https://cdn.builder.io/api/v1/image/assets/TEMP/2683fc81480373020bbe65dd3fd31ec455b60b04fe114040d72e200e7a802b99?placeholderIfAbsent=true&apiKey=636115f9631f48bf97a296bc25ce3201" alt="home" class="menu-icon" />
    </a>
    <a routerLink="views" routerLinkActive="active" class="menu-item">
      <img src="https://cdn.builder.io/api/v1/image/assets/TEMP/10f9d865e69f79cfd8ce849dce56506a980f01166a0a67354e9db82a651ce78f?placeholderIfAbsent=true&apiKey=636115f9631f48bf97a296bc25ce3201" alt="views" class="menu-icon" />
    </a>
    <a routerLink="users" routerLinkActive="active" class="menu-item">
      <img src="https://cdn.builder.io/api/v1/image/assets/TEMP/8a431606c806e30d50c82a2251cccfc7f7bfc37c4d69fbea2d0146472e6ad16c?placeholderIfAbsent=true&apiKey=636115f9631f48bf97a296bc25ce3201" alt="users" class="menu-icon" />
    </a>
    <a routerLink="defects" routerLinkActive="active" class="menu-item">
      <img src="https://cdn.builder.io/api/v1/image/assets/TEMP/b6ede33e23f132dd8e99b6ac94976df953653a92ffa6bae4a9d8b9f1341eeb65?placeholderIfAbsent=true&apiKey=636115f9631f48bf97a296bc25ce3201" alt="defects" class="menu-icon" />
    </a>
    <a routerLink="equipments" routerLinkActive="active" class="menu-item">
      <img src="https://cdn.builder.io/api/v1/image/assets/TEMP/6f2205f384195f31efc02fa1ebd22fcf57984e43f88679fd9e1954589b5fab69?placeholderIfAbsent=true&apiKey=636115f9631f48bf97a296bc25ce3201" alt="equipments" class="menu-icon" />
    </a>
    <a href="" class="menu-item" routerLinkActive="active">
      <img src="https://cdn.builder.io/api/v1/image/assets/TEMP/467890b79862424d5a7ccdb60f9073767cbcc45fb221e17c75ee2813f5641890?placeholderIfAbsent=true&apiKey=636115f9631f48bf97a296bc25ce3201" alt="none" class="menu-icon" />
    </a>
  </nav>
</aside>
