<div class="register-container">
  <form [formGroup]="registerForm" (ngSubmit)="register()">
    <div>
      <label for="userName">Username:</label>
      <input id="userName" formControlName="userName" type="text" />
    </div>
    <div>
      <label for="email">Email:</label>
      <input id="email" formControlName="email" type="email" />
    </div>
    <div>
      <label for="password">Password:</label>
      <input id="password" formControlName="password" type="password" />
    </div>
    <div>
      <label for="userType">User Type:</label>
      <select id="userType" formControlName="userType">
        <option value="ADMIN">Admin</option>
        <option value="USER">User</option>
        <option value="TECH">Technician</option>
      </select>
    </div>
    <button type="submit" [disabled]="registerForm.invalid">Register</button>
  </form>
</div>
