<div class="landing-page">
  <header class="container-2">
    <div class="container-2-inner">
      <div class="frame-parent3">
        <div class="product-parent">
          <a class="product">Product</a>
          <img
            class="arrow-sm-down"
            alt=""
            ngSrc="/assets/public/arrow-sm-down.svg"
            height="24" width="24"/>
        </div>
        <a class="pricing">Pricing</a>
        <a class="solutions">Solutions</a>
        <a class="company">Company</a>
      </div>
    </div>
    <div class="image-15-wrapper">
      <img
        class="image-15-icon"
        loading="lazy"
        alt=""
        ngSrc="/assets/public/image-15.svg"
        height="36" width="144"/>
    </div>
    <div class="button-1-parent">
      <div class="button-1">
        <div class="headset">
          <img class="headset-icon" alt="" ngSrc="/assets/public/headset.svg" height="16" width="16"/>
        </div>
        <a class="contact-support">Contact Support</a>
      </div>
      <button class="button-2" >
        <a class="get-started" [routerLink]="['/login']">Get started</a>
      </button>
    </div>
  </header>
  <section class="container-12">
    <h1 class="optimizing-customer-support">
      Optimizing customer support like never before
    </h1>
    <div class="container-13">
      <div class="integrates-seamlessy-with-30-wrapper">
        <div class="integrates-seamlessy-with">
          Integrates seamlessy with 30+ frameworks
        </div>
      </div>
      <div class="image-24-parent">
        <img
          class="image-24-icon"
          loading="lazy"
          alt=""
          ngSrc="/assets/public/image-24.svg"
          height="44" width="44"/>

        <img
          class="image-22-icon"
          loading="lazy"
          alt=""
          ngSrc="/assets/public/image-22@2x.png"
          height="88" width="88"/>

        <img
          class="image-24-icon"
          loading="lazy"
          alt=""
          ngSrc="/assets/public/image-21.svg"
          height="44" width="44"/>

        <img
          class="image-24-icon"
          loading="lazy"
          alt=""
          ngSrc="/assets/public/image-20.svg"
          height="44" width="44"/>

        <img
          class="image-24-icon"
          loading="lazy"
          alt=""
          ngSrc="/assets/public/image-23.svg"
          height="44" width="44"/>

        <img
          class="image-22-icon"
          loading="lazy"
          alt=""
          ngSrc="/assets/public/image-19@2x.png"
          height="88" width="88"/>
      </div>
    </div>
    <div class="customer-experience">
      <img
        class="image-25-icon"
        loading="lazy"
        alt=""
        ngSrc="/assets/public/image-25@2x.png"
        height="888" width="604"/>

      <div class="experience-content">
        <div class="customization">
          <div class="customize-the-customer">
            Customize the customer service experience with intelligent
            ticket routing to tailor your responses and make your customers
            feel truly valued.
          </div>
          <div class="experience-buttons-wrapper">
            <div class="experience-buttons">
              <button class="button-19">
                <div class="experience-buttons-icons">
                  <img
                    class="btn-play-icon"
                    alt=""
                    ngSrc="/assets/public/arrow-right1.svg"
                  />
                </div>
                <div class="get-started1">Get started</div>
              </button>
              <button class="button-18">
                <div class="experience-buttons-icons">
                  <img
                    class="btn-play-icon"
                    alt=""
                    ngSrc="/assets/public/btn-play.svg"
                    height="20" width="20"/>
                </div>
                <div class="view-demo">View demo</div>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <img
      class="image-26-icon"
      loading="lazy"
      alt=""
      ngSrc="/assets/public/image-26@2x.png"
      height="888" width="648"/>
  </section>
  <section class="customer-journey">
    <div class="container-3">
      <img class="image-16-icon" alt="" ngSrc="/assets/public/image-16.svg" height="728" width="1176"/>

      <div class="respondo-makes-wrapper">
        <div class="respondo-makes">
          <h1 class="how-respondo-makes">
            How Respondo makes a better customer experience?
          </h1>
          <div class="shopping-journey">
            <div class="walk-along-an">
              Walk along an e-shopping journey from both side: the customer
              and the support agent to see how Respondo helps streamlining
              the interactions.
            </div>
          </div>
        </div>
      </div>
      <div class="container-4">
        <img class="image-17-icon" alt="" ngSrc="/assets/public/image-17@2x.png" height="1070" width="1904"/>

        <div class="container-4-child"></div>
        <div class="player-controls">
          <div class="button-7">
            <div class="text4"></div>
            <div class="headset">
              <img
                class="headset-icon"
                alt=""
                ngSrc="/assets/public/keyboard-arrow-down.svg"
                height="16" width="16"/>
            </div>
          </div>
          <div class="playback-controls">
            <div class="playback-buttons">
              <div class="button-6">
                <div class="buttons-label"></div>
                <div class="headset">
                  <img
                    class="btn-play-icon"
                    alt=""
                    ngSrc="/assets/public/device-connection.svg"
                    height="20" width="20"/>
                </div>
              </div>
              <div class="button-6">
                <div class="buttons-label"></div>
                <div class="headset">
                  <img
                    class="btn-play-icon"
                    alt=""
                    ngSrc="/assets/public/menu-5.svg"
                    height="20" width="20"/>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="container-4-inner">
          <div class="button-5-parent">
            <div class="button-5">
              <div class="text6"></div>
              <div class="skip-previous-wrapper">
                <img
                  class="skip-previous-icon"
                  alt=""
                  ngSrc="/assets/public/skip-previous.svg"
                  height="24" width="24"/>
              </div>
            </div>
            <div class="button-3">
              <div class="text6"></div>
              <div class="skip-previous-wrapper">
                <img
                  class="skip-previous-icon"
                  alt=""
                  ngSrc="/assets/public/button-pause.svg"
                  height="24" width="24"/>
              </div>
            </div>
            <div class="button-5">
              <div class="text6"></div>
              <div class="skip-previous-wrapper">
                <img
                  class="skip-previous-icon"
                  alt=""
                  ngSrc="/assets/public/skip-next.svg"
                  height="24" width="24"/>
              </div>
            </div>
          </div>
        </div>
        <div class="fullscreen-button-parent">
          <div class="fullscreen-button">
            <div class="button-6">
              <div class="buttons-label"></div>
              <div class="headset">
                <img
                  class="btn-play-icon"
                  alt=""
                  ngSrc="/assets/public/fullscreen.svg"
                  height="20" width="20"/>
              </div>
            </div>
          </div>
          <div class="div2">
            <span>0:36 </span>
            <span class="span">/ 2:58</span>
          </div>
          <div class="slider-1">
            <div class="frame10">
              <div class="progress"></div>
            </div>
            <div class="dot"></div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="image-18-parent">
    <img class="image-18-icon" alt="" ngSrc="/assets/public/image-16.svg" height="728" width="1176"/>

    <div class="solution-content">
      <div class="solution-heading">
        <div class="solution-title">
          <div class="integrates-seamlessy-with">OUR SOLUTION</div>
        </div>
        <h1 class="responso-provides-all">
          Responso provides all the tools to build a ticket route that fit
          your work flow.
        </h1>
      </div>
    </div>
  </section>
  <section class="features-content-wrapper">
    <div class="features-content">
      <div class="features-grid">
        <div class="container-6">
          <div class="card-items">
            <div class="card-containers">
              <div class="cards-content">
                <div class="headset">
                  <img
                    class="skip-previous-icon"
                    loading="lazy"
                    alt=""
                    ngSrc="/assets/public/receipt-list-43-1.svg"
                    height="24" width="24"/>
                </div>
                <h3 class="smart-ticketing-system">
                  Smart Ticketing System
                </h3>
              </div>
              <div class="no-more-manual">
                No more manual sorting. We routes customer inquiries to the
                right agents based on their expertise.
              </div>
            </div>
          </div>
          <div class="card-buttons">
            <button class="button-10">
              <a class="learn-more">Learn more</a>
              <div class="headset">
                <img
                  class="headset-icon"
                  alt=""
                  ngSrc="/assets/public/arrow-right-1.svg"
                  height="16" width="16"/>
              </div>
            </button>
          </div>
          <img class="container-6-child" alt="" ngSrc="/assets/public/line-1.svg" height="6" width="376"/>
        </div>
        <div class="container-6">
          <div class="container-7-inner">
            <div class="card-containers">
              <div class="cards-content">
                <div class="cyborg-1-wrapper">
                  <img
                    class="skip-previous-icon"
                    loading="lazy"
                    alt=""
                    ngSrc="/assets/public/receipt-list-43-11.svg"
                    height="24" width="24"/>
                </div>
                <h3 class="smart-ticketing-system">Knowledge Base</h3>
              </div>
              <div class="no-more-manual">
                Create a comprehensive knowledge base with FAQs, guides, and
                tutorials to reduce support volume.
              </div>
            </div>
          </div>
          <div class="button-11-wrapper">
            <button class="button-10">
              <a class="learn-more">Learn more</a>
              <div class="arrow-right-wrapper">
                <img
                  class="headset-icon"
                  alt=""
                  ngSrc="/assets/public/arrow-right-1.svg"
                  height="16" width="16"/>
              </div>
            </button>
          </div>
          <img class="container-6-child" alt="" ngSrc="/assets/public/line-1.svg" height="6" width="376"/>
        </div>
        <div class="container-6">
          <div class="container-7-inner">
            <div class="card-containers">
              <div class="cards-content">
                <div class="cyborg-1-wrapper">
                  <img
                    class="skip-previous-icon"
                    loading="lazy"
                    alt=""
                    ngSrc="/assets/public/receipt-list-43-12.svg"
                    height="24" width="24"/>
                </div>
                <h3 class="smart-ticketing-system">
                  Real-time Collaboration
                </h3>
              </div>
              <div class="no-more-manual">
                Responso enables your team to share insights, solve problems
                together, and deliver unified support.
              </div>
            </div>
          </div>
          <div class="button-11-wrapper">
            <button class="button-10">
              <a class="learn-more">Learn more</a>
              <div class="arrow-right-wrapper">
                <img
                  class="headset-icon"
                  alt=""
                  ngSrc="/assets/public/arrow-right-1.svg"
                  height="16" width="16"/>
              </div>
            </button>
          </div>
          <img class="container-6-child" alt="" ngSrc="/assets/public/line-1.svg" height="6" width="376"/>
        </div>
        <div class="container-6">
          <div class="container-7-inner">
            <div class="card-containers">
              <div class="cards-content">
                <div class="cyborg-1-wrapper">
                  <img
                    class="skip-previous-icon"
                    loading="lazy"
                    alt=""
                    ngSrc="/assets/public/receipt-list-43-13.svg"
                    height="24" width="24"/>
                </div>
                <h3 class="smart-ticketing-system">
                  Performance Analytics
                </h3>
              </div>
              <div class="no-more-manual">
                Customize your own report from existing datasets. Measure
                only what matters.
              </div>
            </div>
          </div>
          <div class="button-11-wrapper">
            <button class="button-10">
              <a class="learn-more">Learn more</a>
              <div class="arrow-right-wrapper">
                <img
                  class="headset-icon"
                  alt=""
                  ngSrc="/assets/public/arrow-right-1.svg"
                  height="16" width="16"/>
              </div>
            </button>
          </div>
          <img class="container-6-child" alt="" ngSrc="/assets/public/line-1.svg" height="6" width="376"/>
        </div>
        <div class="container-10">
          <div class="container-7-inner">
            <div class="card-containers">
              <div class="cards-content">
                <div class="cyborg-1-wrapper">
                  <img
                    class="skip-previous-icon"
                    loading="lazy"
                    alt=""
                    ngSrc="/assets/public/receipt-list-43-14.svg"
                  />
                </div>
                <h3 class="smart-ticketing-system">CRM Integrations</h3>
              </div>
              <div class="no-more-manual">
                Responso ensures a consistent experience across every
                touchpoint with 30+ integrations.
              </div>
            </div>
          </div>
          <div class="button-11-wrapper">
            <button class="button-10">
              <a class="learn-more">Learn more</a>
              <div class="arrow-right-wrapper">
                <img
                  class="headset-icon"
                  alt=""
                  ngSrc="/assets/public/arrow-right-1.svg"
                />
              </div>
            </button>
          </div>
          <img class="container-6-child" alt="" ngSrc="/assets/public/line-1.svg" />
        </div>
        <div class="container-10">
          <div class="container-7-inner">
            <div class="card-containers">
              <div class="cards-content">
                <div class="cyborg-1-wrapper">
                  <img
                    class="skip-previous-icon"
                    loading="lazy"
                    alt=""
                    ngSrc="/assets/public/receipt-list-43-15.svg"
                  />
                </div>
                <h3 class="smart-ticketing-system">
                  Personalized Interactions
                </h3>
              </div>
              <div class="no-more-manual">
                Access historical interactions, preferences, and purchase
                history to tailor your responses.
              </div>
            </div>
          </div>
          <div class="button-11-wrapper">
            <button class="button-10">
              <a class="learn-more">Learn more</a>
              <div class="arrow-right-wrapper">
                <img
                  class="headset-icon"
                  alt=""
                  ngSrc="/assets/public/arrow-right-1.svg"
                />
              </div>
            </button>
          </div>
          <img class="container-6-child" alt="" ngSrc="/assets/public/line-1.svg" />
        </div>
      </div>
      <div class="demo-buttons">
        <div class="post-content">
          <button class="button-16">
            <div class="get-a-demo">Get a demo</div>
          </button>
          <button class="button-18">
            <div class="headset">
              <img
                class="btn-play-icon"
                alt=""
                ngSrc="/assets/public/arrow-right-7.svg"
              />
            </div>
            <div class="explore-features">Explore features</div>
          </button>
        </div>
      </div>
    </div>
  </section>
  <section class="container-14">
    <div class="case-studies-heading">
      <div class="case-studies-title">
        <div class="case-studies-wrapper">
          <div class="case-studies">CASE STUDIES</div>
        </div>
        <h1 class="find-in-depth-tutorials">
          10,000+ businesses from 120 countries choose Respondo for their
          practice
        </h1>
      </div>
    </div>
    <div class="travel-wise">
      <div class="travel-wise-content">
        <img class="image-27-icon" alt="" ngSrc="/assets/public/image-27.svg" />

        <div class="container-15">
          <img
            class="image-29-icon"
            loading="lazy"
            alt=""
            ngSrc="/assets/public/image-29@2x.png"
          />

          <div class="travel-wise-title-wrapper">
            <div class="travel-wise-title">
              <div class="button-group-1">
                <div class="category-buttons">
                  <div class="customer-services">Customer Services</div>
                </div>
                <div class="category-buttons1">
                  <div class="sales">Sales</div>
                </div>
                <button class="category-buttons2">
                  <div class="category-highlight-wrapper">
                    <div class="category-highlight"></div>
                  </div>
                  <div class="marketing">Marketing</div>
                </button>
              </div>
              <div class="how-travelwise-empowers-self-s-parent">
                <h3 class="how-travelwise-empowers">
                  How TravelWise empowers self-service support to minimize
                  operational cost with Respondo
                </h3>
                <div class="travel-wise-results">
                  <img
                    class="travel-wise-results-child"
                    alt=""
                    ngSrc="/assets/public/line-7.svg"
                  />

                  <div class="travel-wise-testimonial">
                    <div class="testimonial-quote">
                      <blockquote class="within-the-first">
                        "Within the first year, we witnessed a 30% reduction
                        in support ticket volume as more customers utilized
                        the knowledge base."
                      </blockquote>
                    </div>
                    <div class="testimonial-author">
                      <div class="author-info">
                        <img
                          class="image-28-icon"
                          loading="lazy"
                          alt=""
                          ngSrc="/assets/public/image-28.svg"
                        />

                        <div class="author-name">
                          <div class="integrates-seamlessy-with">
                            -Grace Nelson, COO at TravelWise
                          </div>
                        </div>
                      </div>
                    </div>
                    <button class="button-20">
                      <div class="read-the-full">
                        Read the full case story
                      </div>
                      <div class="headset">
                        <img
                          class="btn-play-icon"
                          alt=""
                          ngSrc="/assets/public/arrow-right-7.svg"
                        />
                      </div>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="awards">
        <div class="awards-list">
          <div class="award-rows">
            <div class="award-icons">
              <img
                class="image-28-icon"
                loading="lazy"
                alt=""
                ngSrc="/assets/public/medal-1.svg"
              />
            </div>
            <div class="award-titles">
              <div class="global-leader">GLOBAL LEADER</div>
              <div class="award-descriptions">
                <div class="fy-2021-">FY 2021 - 2022</div>
              </div>
            </div>
          </div>
          <div class="award-rows">
            <div class="trophy-1-wrapper">
              <img
                class="image-28-icon"
                loading="lazy"
                alt=""
                ngSrc="/assets/public/trophy-1.svg"
              />
            </div>
            <div class="award-titles">
              <div class="global-leader">ELITE CHOICE</div>
              <div class="officia-cons-wrapper">
                <div class="officia-cons">Officia cons</div>
              </div>
            </div>
          </div>
          <div class="award-rows">
            <div class="forbes-icon">
              <img
                class="image-28-icon"
                loading="lazy"
                alt=""
                ngSrc="/assets/public/trophy-1.svg"
              />
            </div>
            <div class="award-titles">
              <div class="forbes-title">
                <div class="forbes">FORBES</div>
              </div>
              <div class="est-excepteu-2022">Est excepteu 2022</div>
            </div>
          </div>
          <div class="award-rows">
            <div class="trophy-3-wrapper">
              <img
                class="image-28-icon"
                loading="lazy"
                alt=""
                ngSrc="/assets/public/trophy-1.svg"
              />
            </div>
            <div class="award-titles">
              <div class="global-leader">ELITE AWARDS</div>
              <div class="dolore-aliqua-wrapper">
                <div class="dolore-aliqua">Dolore aliqua</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="library">
    <div class="container-20">
      <div class="case-studies-heading">
        <div class="case-studies-title">
          <div class="library-wrapper">
            <div class="library1">LIBRARY</div>
          </div>
          <h1 class="find-in-depth-tutorials">
            Find in-depth tutorials and insights on how to make the most of
            Repondo
          </h1>
        </div>
      </div>
      <div class="featured-articles">
        <div class="article-rows">
          <div class="container-21">
            <img
              class="image-30-icon"
              loading="lazy"
              alt=""
              ngSrc="/assets/public/image-30@2x.png"
            />

            <div class="article-contents">
              <div class="article-headings">
                <div class="aug-11-2021">Aug 11, 2021</div>
                <b class="data-driven-decisions-leverag"
                >Data-Driven Decisions: Leveraging Responso's Analytics
                  Suite
                </b>
                <div class="businesses-that-made">
                  Businesses that made significant improvements using
                  data-driven insights...
                </div>
              </div>
              <div class="knowledge-base-author">
                <div class="avatar-1-wrapper">
                  <img
                    class="avatar-1-icon"
                    loading="lazy"
                    alt=""
                    ngSrc="/assets/public/avatar-1@2x.png"
                  />
                </div>
                <div class="sarah-jackson-parent">
                  <div class="sarah-jackson">Sarah Jackson</div>
                  <div class="sr-of-operations">
                    Sr. of Operations at Respondo
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="container-26">
            <div class="article-headings">
              <div class="sep-20-2022">Sep 20, 2022</div>
              <b class="data-driven-decisions-leverag"
              >How to custom a report with Respondo dashboards</b
              >
              <div class="businesses-that-made">
                Ut aute sit anim consectetur consectetur Lorem veniam irure
                ea fugiat....
              </div>
            </div>
            <div class="knowledge-base-author">
              <div class="avatar-6-wrapper">
                <img
                  class="avatar-1-icon"
                  loading="lazy"
                  alt=""
                  ngSrc="/assets/public/avatar-2@2x.png"
                />
              </div>
              <div class="sarah-jackson-parent">
                <div class="elizabeth-bailey">Elizabeth Bailey</div>
                <div class="sr-of-operations">
                  Head of Customer Relations at Lorem
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="article-rows">
          <div class="container-26">
            <div class="article-headings">
              <div class="jan-29-2021">Jan 29, 2021</div>
              <b class="data-driven-decisions-leverag"
              >A Guide to Building Knowledge Bases with Respondo</b
              >
              <div class="businesses-that-made">
                The benefits of self-service support for both customers and
                businesses...
              </div>
            </div>
            <div class="knowledge-base-author">
              <div class="avatar-1-wrapper">
                <img
                  class="avatar-1-icon"
                  loading="lazy"
                  alt=""
                  ngSrc="/assets/public/avatar-21@2x.png"
                />
              </div>
              <div class="sarah-jackson-parent">
                <div class="michael-taylor">Michael Taylor</div>
                <div class="sr-of-operations">
                  Sr. of Operations at Tech Inc.
                </div>
              </div>
            </div>
          </div>
          <div class="workflow-article">
            <div class="container-23">
              <img
                class="image-30-icon"
                loading="lazy"
                alt=""
                ngSrc="/assets/public/image-301@2x.png"
              />

              <div class="article-contents">
                <div class="article-headings">
                  <div class="mar-27-2020">Mar 27, 2020</div>
                  <b class="data-driven-decisions-leverag"
                  >Tools build the workflow. Workflow shapes company
                    culture.</b
                  >
                  <div class="businesses-that-made">
                    Explore the importance of teamwork in resolving complex
                    customer issues....
                  </div>
                </div>
                <div class="knowledge-base-author">
                  <div class="avatar-6-wrapper">
                    <img
                      class="avatar-1-icon"
                      loading="lazy"
                      alt=""
                      ngSrc="/assets/public/avatar-11@2x.png"
                    />
                  </div>
                  <div class="sarah-jackson-parent">
                    <div class="john-king">John King</div>
                    <div class="ceo-founder">CEO & Founder</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="article-rows">
          <div class="container-21">
            <img
              class="image-30-icon"
              loading="lazy"
              alt=""
              ngSrc="/assets/public/image-302@2x.png"
            />

            <div class="article-contents">
              <div class="article-headings">
                <div class="sep-20-2022">May 07, 2023</div>
                <b class="data-driven-decisions-leverag"
                >Adapting to Multi-Channel: Meeting Customers Where They
                  Are</b
                >
                <div class="businesses-that-made">
                  Responso enables businesses to manage inquiries from
                  various platforms...
                </div>
              </div>
              <div class="knowledge-base-author">
                <div class="avatar-6-wrapper">
                  <img
                    class="avatar-1-icon"
                    loading="lazy"
                    alt=""
                    ngSrc="/assets/public/avatar-12@2x.png"
                  />
                </div>
                <div class="sarah-jackson-parent">
                  <div class="emily-anderson">Emily Anderson</div>
                  <div class="sr-of-operations">
                    COO at Lorem Commercial
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="container-26">
            <div class="article-headings">
              <div class="jan-29-2021">Oct 01, 2022</div>
              <b class="data-driven-decisions-leverag"
              >Streamline Operations with Smart Ticketing System</b
              >
              <div class="businesses-that-made">
                Responso's intelligent ticket routing can optimize response
                times....
              </div>
            </div>
            <div class="knowledge-base-author">
              <div class="avatar-6-wrapper">
                <img
                  class="avatar-1-icon"
                  loading="lazy"
                  alt=""
                  ngSrc="/assets/public/avatar-22@2x.png"
                />
              </div>
              <div class="sarah-jackson-parent">
                <div class="ryan-young">Ryan Young</div>
                <div class="sr-of-operations">
                  Sr. of Operations at Tech Inc.
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="explore-button">
        <button class="button-18">
          <div class="experience-buttons-icons">
            <img
              class="btn-play-icon"
              alt=""
              ngSrc="/assets/public/arrow-right-7.svg"
            />
          </div>
          <div class="read-the-full">Explore community</div>
        </button>
      </div>
    </div>
  </section>
  <section class="footer2">
    <div class="footer-content">
      <img class="image-14-icon" alt="" ngSrc="/assets/public/image-16.svg" />

      <div class="container-27">
        <div class="footer-description">
          <h1 class="how-respondo-makes">
            Upgrade your customer experience with Respondo, today.
          </h1>
          <div class="buttons">
            <div class="trial-button">
              <button class="button-22">
                <div class="get-1-month-free">Get 1-month free trial</div>
              </button>
              <button class="button-23">
                <div class="cyborg-1-wrapper">
                  <img
                    class="skip-previous-icon"
                    alt=""
                    ngSrc="/assets/public/arrow-right-10.svg"
                  />
                </div>
                <div class="talk-to-sales">Talk to Sales</div>
              </button>
            </div>
          </div>
        </div>
        <div class="logos">
          <div class="logo-container">
            <img class="image-33-icon" alt="" ngSrc="/assets/public/image-33.svg" />

            <img
              class="image-34-icon"
              loading="lazy"
              alt=""
              ngSrc="/assets/public/image-34.svg"
            />
          </div>
        </div>
      </div>
    </div>
  </section>
  <app-footer></app-footer>
</div>
