<section class="content-wrapper">
  <section class="profile-gallery" style="margin-bottom:20px;">
    <img loading="lazy" src="https://cdn.builder.io/api/v1/image/assets/TEMP/a938811ee14435a0130cb2fc9f7e527baa5aa9d8aff2506d3d3eb47d43e7a9f6?placeholderIfAbsent=true&apiKey=636115f9631f48bf97a296bc25ce3201" alt="" class="profile-image profile-image-large" />
    <img loading="lazy" src="https://cdn.builder.io/api/v1/image/assets/TEMP/8d34f7c0c9e980c87a71eb2c763821be86458532d91d60df630056664f57cca5?placeholderIfAbsent=true&apiKey=636115f9631f48bf97a296bc25ce3201" alt="" class="profile-image profile-image-medium" />
    <div class="image-container">
      <img loading="lazy" src="https://cdn.builder.io/api/v1/image/assets/TEMP/921f14f0eb52cc96019151b10305d7a753a04e4c1344ccb5ff56ea49b9991154?placeholderIfAbsent=true&apiKey=636115f9631f48bf97a296bc25ce3201" alt="" class="profile-image profile-image-small" />
      <img loading="lazy" src="https://cdn.builder.io/api/v1/image/assets/TEMP/823ea490cbc2d4a6e71937bf5304a7cdc4190206fad5a818dc98aeab0b152083?placeholderIfAbsent=true&apiKey=636115f9631f48bf97a296bc25ce3201" alt="" class="profile-image profile-image-extra-large" />
    </div>
  </section>
  <div class="equipment-list-container">
    <div class="header">
      <h1 style="font-size: 1.5rem; font-weight: 1000;">All Users ({{ onNumber() }})</h1>
      <button pButton type="button" label="Add User" icon="pi pi-plus" class="p-button-success" (click)="navigateToCreate()"></button>
    </div>

    <p-table #dt [value]="users" dataKey="id" editMode="row" [paginator]="true" [rows]="10" [showCurrentPageReport]="true"
             currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [rowsPerPageOptions]="[10,25,50]"
             [globalFilterFields]="['username', 'email']">
      <ng-template pTemplate="caption">
        <div class="p-d-flex p-ai-center p-jc-between">
          <span class="p-input-icon-left">
          <i class="pi pi-search"></i>
          <input pInputText type="text" (input)="dt.filterGlobal($any($event.target).value, 'contains')" placeholder="      Search..." />
        </span>
        </div>
      </ng-template>
      <ng-template pTemplate="header">
        <tr>
          <th pSortableColumn="rowIndex"># <p-sortIcon field="rowIndex"></p-sortIcon></th>
          <th pSortableColumn="username">Name <p-sortIcon field="username"></p-sortIcon></th>
          <th pSortableColumn="email">Email <p-sortIcon field="email"></p-sortIcon></th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-user let-ri="rowIndex">
        <tr>
          <td>{{ ri + 1 }}</td>
          <td>{{ user.username }}</td>
          <td>{{ user.email }}</td>
        </tr>
      </ng-template>
    </p-table>
  </div>

  <p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>
  <p-toast></p-toast>
</section>
