<footer class="container-28">
  <div class="footer-wrapper">
    <div class="content">
      <button class="header1">
        <div class="logo-container1">
          <img
            class="image-35-icon"
            loading="lazy"
            alt=""
            src="./public/image-35.svg"
          />
        </div>
        <h2 class="respondo">Respondo</h2>
      </button>
      <div class="navigation">
        <div class="products-menu">
          <div class="products">PRODUCTS</div>
          <a class="services">Services</a>
          <a class="events">Pricing</a>
          <div class="marketplace">Marketplace</div>
          <a class="platform">Platform</a>
          <div class="product-updates">Product updates</div>
        </div>
      </div>
      <div class="features-menu">
        <div class="features">
          <div class="features1">FEATURES</div>
          <div class="ticket-system">Ticket system</div>
          <div class="inbox-video">Inbox & Video call</div>
          <div class="help-center">Help Center</div>
          <div class="product-support">Knowledge Base</div>
          <div class="answer-bot">Answer Bot</div>
          <div class="generative-ai">Generative AI</div>
          <div class="voice">Voice</div>
          <a class="security">Security</a>
        </div>
      </div>
      <div class="resources-menu">
        <div class="lists">
          <div class="features">
            <div class="resources1">RESOURCES</div>
            <a class="blog">Blog</a>
            <a class="tutorials">Tutorials</a>
            <div class="product-support">Product Support</div>
            <a class="partners">Partners</a>
            <div class="marketplace">Case stories</div>
            <a class="security">Webinar</a>
          </div>
          <div class="products-menu">
            <div class="resources1">RESOURCES</div>
            <a class="about-us">About Us</a>
            <a class="careers">Careers</a>
            <a class="events">Events</a>
            <a class="security">Sitemap</a>
            <a class="legal">Legal</a>
          </div>
          <div class="community">
            <div class="community1">COMMUNITY</div>
            <div class="product-support">Industry experts</div>
            <a class="articles">Articles</a>
            <a class="events">Events</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="subscription">
    <div class="form">
      <img class="form-child" alt="" src="./public/line-8.svg" />

      <div class="input">
        <div class="sarah-jackson-parent">
          <h3 class="subscribe-to-our">Subscribe to our newsletter</h3>
          <div class="for-product-announcements">
            For product announcements and exclusive insights
          </div>
        </div>
        <div class="fields">
          <div class="email">
            <button class="textbox-1">
              <div class="experience-buttons-icons">
                <img
                  class="btn-play-icon"
                  alt=""
                  src="./public/mail.svg"
                />
              </div>
              <div class="input-your-email">Input your email</div>
            </button>
            <button class="button-24">
              <div class="subscribe">Subscribe</div>
            </button>
          </div>
        </div>
        <div class="cards-content">
          <img
            class="logo-twitter-1"
            loading="lazy"
            alt=""
            src="./public/logo-twitter-1.svg"
          />

          <img
            class="logo-twitter-1"
            loading="lazy"
            alt=""
            src="./public/logo-facebook-1.svg"
          />

          <img
            class="logo-twitter-1"
            loading="lazy"
            alt=""
            src="./public/logo-linkedin-1.svg"
          />

          <img
            class="logo-twitter-1"
            loading="lazy"
            alt=""
            src="./public/logo-youtube-1.svg"
          />
        </div>
      </div>
    </div>
    <div class="copyright">
      <div class="info">
        <div class="brand-inc">© 2022 Brand, Inc.</div>
        <div class="links">
          <div class="list">
            <div class="skip-previous-wrapper">
              <div class="div3">•</div>
            </div>
            <a class="privacy">Privacy</a>
          </div>
          <div class="list">
            <div class="skip-previous-wrapper">
              <div class="div3">•</div>
            </div>
            <div class="terms">Terms</div>
          </div>
          <div class="list">
            <div class="skip-previous-wrapper">
              <div class="div3">•</div>
            </div>
            <a class="sitemap1">Sitemap</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
