<div class="dashboard">
  <app-t-sidebar/>
  <main class="main-content">
    <header class="top-bar">
      <h2 class="logo-text">Respondo</h2>
      <div class="user-profile">
        <a (click)="logout()">
          <img src="/assets/img/logout.png" alt="User avatar" class="dropdown-icon" width="512"/>
        </a>

        <div>
          <img class=" user-avatar" src="https://cdn.builder.io/api/v1/image/assets/TEMP/411333dce038b6303fc1dc41c929bccf624507db214385d0895255cb80b2acb0?placeholderIfAbsent=true&apiKey=636115f9631f48bf97a296bc25ce3201" alt="Dropdown"  />
        </div>
      </div>
    </header>
    <router-outlet/>
  </main>
</div>
