<div class="dashboard">
  <app-u-sidebar/>
  <main class="main-content">
    <header class="top-bar">
      <p-button
        (onClick)="showDialog()"
        label="Add Equipment"
        icon="pi pi-plus"
        [style]="{ 'background-color': '#6d31ed' }"
      />

      <div class="user-profile">
        <a (click)="logout()">
          <img src="/assets/img/logout.png" alt="User avatar" class="dropdown-icon" width="512"/>
        </a>

        <div>
          <img class=" user-avatar" src="https://cdn.builder.io/api/v1/image/assets/TEMP/411333dce038b6303fc1dc41c929bccf624507db214385d0895255cb80b2acb0?placeholderIfAbsent=true&apiKey=636115f9631f48bf97a296bc25ce3201" alt="Dropdown"  />
        </div>
      </div>
    </header>
    <p-dialog header="Create Support Ticket" [modal]="true" [(visible)]="visible" [style]="{ width: '30rem' }">
      <form [formGroup]="createTicketForm" (ngSubmit)="onSubmit()">
        <div>
          <label for="description">Ticket Description:</label>
          <input id="description" formControlName="description" type="text">
        </div>

        <div>
          <label for="defect">Defect:</label>
          <select id="defect" formControlName="defectId">
            <option *ngFor="let defect of defects" [value]="defect.id">
              {{ defect.description }}
            </option>
          </select>
        </div>

        <div>
          <label for="equipment">Equipment:</label>
          <select id="equipment" formControlName="equipmentId">
            <option *ngFor="let equipment of equipments" [value]="equipment.id">
              {{ equipment.name }}
            </option>
          </select>
        </div>

        <div class="flex justify-content-end gap-2">
          <p-button label="Cancel" severity="secondary" (onClick)="visible = false" />
          <p-button label="Submit" type="submit" [disabled]="createTicketForm.invalid" />
        </div>
      </form>
    </p-dialog>

    <router-outlet/>
  </main>
</div>
