<div class="dashboard">
  <app-sidebar/>
  <main class="main-content">
    <header class="top-bar">
      <button class="create-new-btn">
        <img src="https://cdn.builder.io/api/v1/image/assets/TEMP/1bac1d62cfe8c41f9048345c45f04694ae346b0e86bf3ddbeb9a99f4bc92cb29?placeholderIfAbsent=true&apiKey=636115f9631f48bf97a296bc25ce3201" alt="Plus icon" class="plus-icon" />
        CREATE NEW
      </button>
      <div class="user-profile">
        <img src="https://cdn.builder.io/api/v1/image/assets/TEMP/4cc22389a868f9000896339398446aeee1eec240ce81c69482963668c330d5b3?placeholderIfAbsent=true&apiKey=636115f9631f48bf97a296bc25ce3201" alt="User avatar" class="user-avatar" />
        <div class="user-info">
          <img src="https://cdn.builder.io/api/v1/image/assets/TEMP/9897d12c08cf966bdd34e813ebe5c59f94d75f2740d69fe3b2de36969d971bb1?placeholderIfAbsent=true&apiKey=636115f9631f48bf97a296bc25ce3201" alt="User status" class="user-status" />
          <img src="https://cdn.builder.io/api/v1/image/assets/TEMP/84178da12f7779813293da3cb7aee4daf630ac0c01aa2a019471695262b120f9?placeholderIfAbsent=true&apiKey=636115f9631f48bf97a296bc25ce3201" alt="Separator" class="separator" />
          <img src="https://cdn.builder.io/api/v1/image/assets/TEMP/411333dce038b6303fc1dc41c929bccf624507db214385d0895255cb80b2acb0?placeholderIfAbsent=true&apiKey=636115f9631f48bf97a296bc25ce3201" alt="Dropdown" class="dropdown-icon" />
        </div>
      </div>
    </header>
      <app-d-views/>
  </main>
</div>
<router-outlet/>
